In [10]:
import pandas as pd
import numpy as np
import scipy.stats as st
import statsmodels.stats.api as sms

In [2]:
df = pd.read_csv('MonthsTillBoat.csv')

In [3]:
df.head()

   Months Till Boat
0               116
1               109
2               153
3               157
4               124

In [4]:
df['Months Till Boat'].mean()

133.368

In [13]:
df['Months Till Boat'].std()/np.sqrt(len(df['Months Till Boat']))

0.38201637728311116

In [17]:
sms.DescrStatsW(df['Months Till Boat']).tconfint_mean()

(132.61835342402534, 134.11764657597465)